body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div {
    margin: 0 auto;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

input {
    margin: auto;
    display: inline;
}

.inputlabel {
    /*text-align: left;*/
    display: inline;
}

.well {
    background-color: #ddd;
    width: 80%;
    padding: 10px;
}

/* Dropdown Button */
.dropbtn {
    text-align: center;
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}